<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Thank you for enrolling into shoplink. Your request for accessing the account was sent to our management team. You can enquire about this app using the following contact:</p>
    </body>
</html>