<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>We regret to inform you that your request for accessing the application was rejected by our Admin. Sorry for the inconviniences</p>
    </body>
</html>